# Node modules
node_modules/

# Next.js build outputs
.next/

# Vercel settings
.vercel/

# dotenv environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac system files
.DS_Store

# IDE settings (e.g., VSCode)
.vscode/
.idea/

# Tailwind CSS build folder
/public/css/

# TypeScript build
*.tsbuildinfo

# Operating System files
Thumbs.db
